{% extends "layout.html" %}

{% block pagestyles %}

<!-- Our own styles -->
<link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">

{% endblock %}

{% block content %}

<!-- see https://www.w3schools.com/bootstrap/default.asp for information -->

<!-- Container -->

<div class="container" style="margin-top:30px">
    <h5>Visualising Covid19 model with D3</h5>
    <br>
        <div class="row" id="vis1_id"></div>
        <div class="row" id="vis2_id"></div>
    <br>
</div>

<!-- now, the Javascript code to deal with user interface / visualization -->

    <!-- for D3 visualization -->
    <!-- <script src="https://d3js.org/d3.v5.js"></script> -->
    <!--<script src="{{ url_for('static', filename='dist/js/d3.min.js') }}"></script> -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/5.16.0/d3.min.js"></script>

    <!-- our own JavaScript functions -->
    <script src="{{ url_for('static', filename='js/covid19/vismodel.js') }}"></script>
    <!--<script src="{{ url_for('static', filename='js/covid19/map.js') }}"></script>-->
    <!-- this is where data is passed from Flask templates to our js code -->
    
    <script>
        drawMultiseries([{{ data | safe }}]);
    </script>

{% endblock %}
