{% extends "layout.html" %}

{% block content %}
  
<style>
    #mapid { 
        height: 700px; 
        width: 300px
        }
</style>



<div class="container">
    <div class="row">
        <div class="col-md-4">
            <div id="mapid"></div>
        </div>
        <div class="col-md-8">
            <div class="row">
                <div class="col-md-6">
                    graph
                </div>
                <div class="col-md-6">
                    graph
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    var mymap = L.map('mapid').setView([39.557191, -7.8536599], 7);

    L.tileLayer('https://api.mapbox.com/styles/v1/{id}/tiles/{z}/{x}/{y}?access_token={accessToken}', {
    attribution: 'Map data &copy; <a href="https://www.openstreetmap.org/">OpenStreetMap</a> contributors, <a href="https://creativecommons.org/licenses/by-sa/2.0/">CC-BY-SA</a>, Imagery © <a href="https://www.mapbox.com/">Mapbox</a>',
    maxZoom: 18,
    id: 'mapbox/streets-v11',
    accessToken: 'pk.eyJ1Ijoibm1zZmMiLCJhIjoiY2thbzJodHR3MGFoaDJybnljdzBjMGp5OCJ9.-oHCyTvi5R5F1ygtGFAH8w'
}).addTo(mymap);
</script>

{% endblock %}

